@import"./index/index";

@import"header";

@import"main";

@import"footer";

@import"./hamburguesas/hamburguesa";

@import"./lomitos/lomitos";

@import"./bebidas/bebidas";

@import"./delivery/delivey";

@import"./responsive/responsive";

@font-face {
    font-family: "lemon";
    src: url(../assets/Letras/LEMONMILK-Regular.otf);
}
$letras-h2: "lemon";

//mixin en lomitos
//mixin en bebidas
//anidacion en hamburguesas y lomitos
//cada h2 tiene la variable de la letra
