.bebidas-titulo .titulo{
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 50px 0 0 0;
}
.bebidas-titulo{
    background-image: url("../assets/image/LOGO-COCA.png");
    
    
}
.col1{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    margin-top: 30px;
    background-image: radial-gradient(ellipse 200px 200px, red,white);
    color: black;
    text-align: center;
    margin-bottom: 25px;
    
}

.col2{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    margin-top: 30px;
    background-image: radial-gradient(ellipse 200px 200px, red,black);
    color: white;
    text-align: center;
    margin-bottom: 15px;
    
}
.col3{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    background-image: radial-gradient(ellipse 200px 200px, red,white);
    color: black;
    text-align: center;
    margin-bottom: 25px;
    
}
.col4{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    background-image: radial-gradient(ellipse 200px 200px, aqua,white);
    color: black;
    text-align: center;
    margin-bottom: 5px;
    
}
.col5{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    background-image: radial-gradient(ellipse 200px 200px, #ff6a00,black);
    color: white;
    text-align: center;
    margin-bottom: 25px;
    
}
.col6{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    background-image: radial-gradient(ellipse 200px 200px, green,yellow);
    color: black;
    text-align: center;
    margin-bottom: 5px;
   
}
.col7{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    background-image: radial-gradient(ellipse 200px 200px, gold,black);
    color: white;
    text-align: center;
    margin-bottom: 25px;
    
}
.col8{
    border: 2px solid black;
    font-size: 40px;
    height: 100px;
    width: 660px;
    background-image: radial-gradient(ellipse 200px 200px, red,green);
    color: black;
    text-align: center;
    margin-bottom: 5px;
    
}

.col1:hover{
    transform: scale(1.1);
}
.col2:hover{
    transform: scale(1.1);
}
.col3:hover{
    transform: scale(1.1);
}
.col4:hover{
    transform: scale(1.1);
}
.col5:hover{
    transform: scale(1.1);
}
.col6:hover{
    transform: scale(1.1);
}
.col7:hover{
    transform: scale(1.1);
}
.col8:hover{
    transform: scale(1.1);
}