$letras-h2: "lemon";

.lomito .lomito-titulo{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin: 50px 0 0 0;
    font-family: $letras-h2;
}
.lomito{
    background-image: url("../assets/image/papas-fritas.png");
}

.contenedor{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
@mixin lomito{
    border: 2px solid #ffff00;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}
.grid-completo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 2px solid #ffff00;
    font-size: 20px;
    width: 404px;
    height: 540px;
    margin: 0;
    padding: 0;
    box-shadow: -7px 7px 50px #ffff00;
    margin-bottom: 20px;
    .caja1{
        @include lomito;
        grid-column: 1/3;
        
        
    }
    .caja2{
        @include lomito;
    }
    .caja3{
        @include lomito;
        font-size: 40px;
    }
    .caja4{
        @include lomito;
        grid-column: 1/3;
    }
}

.xl{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 2px solid #ffff00;
    font-size: 20px;
    width: 404px;
    height: 540px;
    margin: 0;
    padding: 0;
    box-shadow: -7px 7px 50px #ffff00;
    .caja5{
        @include lomito;
        grid-column: 1/3;
        
    }
    .caja6{
    @include lomito;
    }
    .caja7{
        @include lomito;
        font-size: 40px;
    }
    .caja8{
        @include lomito;
        grid-column: 1/3;
    }
}

.contenedor :hover{
    transform: scale(1.1);
}


.lomito .contenedor .caja4 img{
    height: 100%;
    width: 100%;
}

.lomito .contenedor .caja8 img{
    height: 100%;
    width: 100%;
}